html{
    font-size: 14px;
}
body{
    margin:0;
    font-family: "turnip", serif;
    font-weight: 300;
    background-color: #fff5ec;
}
header{
    background-color: #7d001b;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 1;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width:10rem;
    position: relative;
}
.logo img{
    position: absolute;
    top:-3.5rem;
    left:calc(50% - 5rem);
    width:8rem;
    height: 8rem;
    padding: 1rem;
    border-radius: 5rem;
    background-color: #fff;
}
h1{
    display:none;
}
nav a{
    color:#fff;
    text-decoration: none;
    font-weight: 700;
    padding:1rem;
    margin:1rem;
}
nav a:hover{
    color:#fff;
    text-decoration: underline;
}
nav a.active{
    text-decoration: underline;
}
h2, h3, h4{
    color:#004644;
}
p{
    line-height: 1.5rem;
}
img{
    max-width: 100%;
}
a{
    color: #006968;
    font-weight: 700;
    text-decoration: none;
}
a:hover{
    color: #004644;
    text-decoration: underline;
}
.button, button{
    color:#fff;
    background-color: #004644;
    padding:1rem;
    font-family: "turnip", serif;
    font-weight: 500;
    border:0;
    border-radius: .5rem;
    box-shadow: 2px 2px 2px #00000095;
    text-decoration: none;
    display: inline-block;
}
.button:hover, button:hover{
    background-color: #006968;
}
hr{
    border:1.5px solid #004644;
}
.hr{
    position: relative;
}
.hr:before, .hr:after{
    content:" ";
    width: 6px;
    height:6px;
    border-radius: 3px;
    background-color: #004644;
    position: absolute;
    top:-2.25px;
}
.hr:before{
    left:-1px;
}
.hr:after{
    right:-1px;
}
main{
    background-color: #fff5ec;
    margin:8rem 0 2rem;
}
main.menu{
    margin:20rem 0 2rem;
}
section{
    padding:2rem 1rem;
    max-width: 60rem;
    margin: auto;
}
.home nav>.logo img{
    display: none;
}
.home>.logo{
    position: sticky;
    top:1.5rem;
    display: block;
    left:calc(50% - 5rem);
    z-index: 1;
    width:10rem;
    height:10rem;
    border-radius: 5rem;
    margin-top: 15rem;
    z-index: 3;
    cursor: pointer;
}
.home>div:first-child{
    background-image: url(public/images/homepage.jpg);
    background-size: cover;
    height: 25rem;
    background-position: center;
    position: fixed;
    top:0;
    width:100%;
    left:0;
    height: 30rem;
    z-index: -1;
}
.button ~ p{
    margin-bottom: 3rem;
}
table{
    text-align: left;
    width:100%;
    max-width: 30rem;
    margin: 1rem 0;
}
thead{
    font-weight: 500;
    font-size: .8rem;
}
thead th{
    color:#004644;
    font-size: 1.25rem;
}
tbody th, tbody td{
    padding:.25rem 0;
}
td{
    text-align: right;
}
.headline{
    background-image: url(public/images/red-fern-waffle.jpeg);
    background-size: cover;
    background-position: bottom -4rem center;
    height: 30vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    top:0;
    left:0;
    margin:0;
}
.waffles div{
    margin:1rem 0;
    display:flex;
    flex-wrap:wrap;
    align-items: baseline;
}
.waffles *{
    margin:0 1rem 0 0;
    font-size: 1rem;
}
.waffles>div>p:last-child{
    flex-basis:100%;
}
th, strong{
    font-weight: 500;
}
footer{
    background-color: #004644;
    color:#fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
    padding:1rem;
}
footer a, footer h2, footer h3{
    color:#fff;
}
footer h2{
    margin:0;
}
.social{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}
.social a>img{
    width:3rem;
    height: 3rem;
}
@media (min-width:700px){
    .headline{
        background-position: bottom -10rem center;
        height: 35vh;
    }
    main.menu{
        margin-top: 35vh;
    }
    .gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        background-color: #fff;
    }
    .gallery img{
        height: 25vh;
    }
    .pic-n-text{
        display: flex;
        gap: 2rem;
    }
    .pic-n-text img{
        width: 33%;
    }
}
@media (min-width:1000px){
    main.menu{
        margin:40vh auto 2rem;
    }
    .home>main{
        margin-top:5rem;
    }
    main{
        margin-top: 12rem;
    }
    .headline{
        height: 40vh;
    }
    footer{
        justify-content: space-between;
    }
    .logo, .home>.logo{
        width:16rem;
    }
    .home>.logo{
        left: calc(50% - 8rem);
    }
    .logo img{
        top:-5rem;
        left:0;
        width:12rem;
        height: 12rem;
        padding:2rem;
        border-radius: 8rem;
    }
}